.header-container {
  position: relative;
  height: 100px;
  width: 75%;
  z-index: 1;
  background-color: white;
}
@media screen and (max-width: 572px) {
  .header-container {
    width: 120%;
  }
}
