.w-20 {
  width: 20%;
}
.h-10 {
  height: 10%;
}
.w-30 {
  width: 30%;
}
.main-back-color {
  background-color: #deb4ff;
  color: #f4f4f4;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  font-weight: 900;
}
