.main-back-color {
  background-color: #deb4ff;
  color: #f4f4f4;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  font-weight: 900;
}
.main-color {
  background-color: #deb4ff;
  color: #f4f4f4;
}
.profile-img-box {
  width: 60px;
  height: 60px;
}
.p-fixed {
  position: fixed;
}
.write-btn {
  width: 90px;
  height: 90px;
  position: fixed;
  bottom: 40px;
  right: 60px;
}

@media screen and (max-width: 1024px) {
  .p-fixed {
    position: relative;
  }
  .write-btn {
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
  }
}
