@font-face {
  font-family: "CachildrenKkum";
  src: url("./font/cachildrenkkum.ttf") format("truetype");
}
@font-face {
  font-family: "CachildrenModu";
  src: url("./font/cachildrenmodu.ttf") format("truetype");
}
div {
  font-family: "CachildrenKkum";
}
